@model string
@{
    ViewData["Title"] = "Create";
}

<h1>Adatok megadása</h1>
<hr />
<div class="row">
    <div class="col-md-4">       
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Név:</label>
                <input name="name" class="form-control" />
            </div>
            <p style="color:red">@ViewData["Hibauzenet"]</p>
            <div class="form-group">
                <input type="submit" value="Mentés" class="btn btn-primary" style="background-color:#add8e6; color:black; padding: 5px 20px; text-align: center;
                    text-decoration: none; display: inline-block; border-radius: 5px; border: 1px solid black; width: 20%; font-size: 14px;
                    margin-bottom: 1%" />
            </div>
        </form>
    </div>
</div>
<p></p>
<div>
    <a asp-action="Roles">Vissza a listába</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
