@{
    ViewData["Title"] = "Kategória";
}

<h4 class="display-4">Személygépjármű </h4>
<p>
    <a asp-action="ServiceSelect">
        <img src="~/css/image/auto.jpg" alt="Autó" />
    </a>
</p>
<h4 class="display-4">Teherautó </h4>
<p>
    <img src="~/css/image/auto.jpg" alt="Autó" />
</p>
<h4 class="display-4">Kamion </h4>
<p>
    <img src="~/css/image/auto.jpg" alt="Autó" />
</p>
<h4 class="display-4">Motor </h4>
<p>
    <img src="~/css/image/auto.jpg" alt="Autó" />
</p>