<link rel=" stylesheet " href="~/css/foOldal.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Főoldal";
}

<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Üdvözöljük </h1>
        <p>
            <img src="~/css/image/3cf626720ae64fb5a5b5d9eab9e8c185.png" alt="LOGO" />
        </p>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Röviden a cégünkről</h2>
        <p>
            Cégünk egy új és kényelmesebb módját kínálja
            szeretett járművének tisztán tartására és megőrzésére
            az utókornak.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Hogyan lehet megrendelni</h2>
        <p>
            A "Megrendelés indítása" gombra kattintva már ki is választhatja
             az önnek megfelelő kategóriát, majd az igények
             felmérését követően el is végezzük azokat járművén.</p>

    </div>
    <div class="col-md-4">
        <h2>Mikor lehet átvenni</h2>
        <p>Cégünk gondoskodik mind az elszállításról
            mind az ügyfélnek átadásról is melyeket
            telefonon egyezetünk a folyamatok befejeztével.</p>
    </div>
</div>
<p></p>
<div class="row">
    <a class="foOldalGombja nav-link text-dark" asp-area="" asp-controller="Home" asp-action="KategoriaValasztas">Megrendelés indítása</a>
</div>