@{
    ViewData["Title"] = " Adatvédelmi Irányelv Tájékoztató";
}

<link rel="stylesheet" href="~/css/Privacy.css" asp-append-version="true" />


<div>
    <h1 class="title">@ViewData["Title"]</h1>

    <div class="main">
        <h5>1. Bevezetés</h5>

        <p>Ez az Adatvédelmi Irányelv meghatározza a MÁV-SZK által alkalmazott adatvédelmi gyakorlatokat és elveket, amelyek az ügyfeleink, partnereink és alkalmazottjaink személyes adatainak kezelésére vonatkoznak. Az adatvédelem kiemelten fontos számunkra, és elkötelezettek vagyunk az Ön személyes adatainak védelme mellett.</p>

        <h5>2. Személyes adatok gyűjtése és felhasználása</h5>

        Az általunk gyűjtött személyes adatokat kizárólag a jogszabályokkal összhangban és a vállalkozásunk tevékenységeinek támogatása céljából használjuk fel. Ezek az adatok lehetnek például név, cím, e-mail cím, telefonszám, és más azonosító információk.

        <h5>3. Adatvédelmi jogok</h5>

        <p>Az Ön adatvédelmi jogai fontosak számunkra. Kérjük, vegye figyelembe az alábbi jogokat:</p>
        <ul>
            <li>Hozzáférés: Jogában áll kérni, hogy tájékoztassuk Önt az általunk kezelt személyes adatairól.</li>
            <li>Helyesbítés: Amennyiben az általunk kezelt adatok hibásak vagy hiányosak, jogában áll kérni azok javítását.</li>
            <li>Törlés: Bizonyos feltételek mellett jogában áll kérni az adatok törlését.</li>
            <li>Korlátozás: Bizonyos esetekben jogában áll kérni az adatok kezelésének korlátozását.</li>
            <li>Adathordozhatóság: Jogában áll kérni a személyes adatainak átadását vagy másolatának megkapását strukturált, általánosan használt és géppel olvasható formátumban.</li>
            <li>Ellenvetés: Bizonyos esetekben jogában áll tiltakozni a személyes adatok kezelése ellen.</li>
        </ul>

        <h5>4. Biztonság és védelem</h5>

        <p>Az adatvédelmi szempontokat szigorúan vesszük, és megfelelő technikai és szervezési intézkedéseket alkalmazunk az adatok védelme érdekében. Az adatokhoz való illetéktelen hozzáférést, felhasználást, módosítást vagy más módon történő veszélyeztetést megelőzzük.</p>

        <h5>5. Harmadik felek</h5>

        <p>
            Néha szükségünk lehet harmadik felekkel való adatmegosztásra, például üzleti partnerekkel vagy szolgáltatókkal. Minden ilyen esetben gondoskodunk arról, hogy a harmadik fél is megfeleljen az adatvédelmi elvárásoknak.
        </p>

        <h5>6. Kapcsolat</h5>

        <p>
            Ha bármilyen kérdése vagy aggálya van az adatvédelemmel kapcsolatban, kérjük, lépjen kapcsolatba velünk az alábbi elérhetőségen:
            <ul>
                <li>admin@admin.com</li>
            </ul>


    </div>
</div>
