
@{
    ViewData["Title"] = "SaveToDatabase";
}
<img src="~/css/image/3cf626720ae64fb5a5b5d9eab9e8c185.png" alt="LOGO" style="float:right;width:90px;height:90px;" />
<h1>@MavAutoKozm.Resources.Resource.Köszönjük_a_megrendelést</h1>
<p></p>
<h2>@MavAutoKozm.Resources.Resource.Megrendelési_azonosítója: @ViewData["OrderId"]</h2>


